//
   Created by pl on 2016/10/5.
extends common

block banner
   link(rel='stylesheet', href='/stylesheets/banner.css')
   .banner
      .arr
         a.arr-left.fl(href="javascript://") <
         a.arr-right.fr(href="javascript://") >
      .banner-box
         -for(var i = 0;i<8;i++){
            .banner-item
               - var imgsrc=["853dd9a50b818e3a6b025bccc303bba27d046f05.jpg","3c51c0cb565039776fb808d3b082e7a5db2a5321.jpg","4f3ba67571f055190fc3d33c65fb1b7aab9a74a4.jpg","94d10cba3187f4710626ee165c6ef586001c6342.jpg","ae7d3c5eddbb1407c18565648b86cf7c9b573ed4.jpg","e84139c660435ede081270a69895244b9665da1d.jpg"]
               each src in imgsrc
                  div
                     img(src="images/banner/#{src}")
         -}
   script(src="/javascripts/banner.js")