doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    link(rel='stylesheet', href='css/common.css')
    |     
    link(rel='stylesheet', href='css/index.css')
    |     
    script(src='index.js', type='text/javascript')
    |     
    script(src='js/仿运动框架.js', type='text/javascript')
    |     
    script(src='js/运动框架.js', type='text/javascript')
  body
    .z_top.head
      .head_nav
        .box
          .head_left.fl
            ul
              li
                a(href='#') &#x4E3B;&#x7AD9;
              |                     
              li
                a(href='#') &#x753B;&#x53CB;
              |                     
              li
                a(href='#') &#x6E38;&#x620F;&#x4E2D;&#x5FC3;
              |                     
              li
                a(href='#') &#x76F4;&#x64AD;
              |                     
              li
                a(href='#') &#x5468;&#x8FB9;
              |                     
              li
                a(href='#') BML
          |             
          .head_right.fr
            ul
              li
                a(href='#') &#x5934;&#x50CF;
              |                     
              li
                a(href='#') &#x6D88;&#x606F;
              |                     
              li
                a(href='#') &#x52A8;&#x6001;
              |                     
              li
                a(href='#') &#x6536;&#x85CF;&#x5939;
              |                     
              li
                a(href='#') &#x5386;&#x53F2;
              |                     
              li
                a(href='#') &#x6295;&#x7A3F;
      |     
      .box
        span.xiatian  &#x590F;&#x5929;&#x662F;&#x7F8E;&#x597D;&#x7684;&#x5B63;&#x8282;....
        |         
        .search
          .search_list.fl &#x6392;&#x884C;&#x699C;
          |             
          form.fl
            input.sh_text.fl(type='text')
            input.sh_btn.fl(type='button')
    .nav.box.clearfix
      ul.clearfix
        li
          .number
            span  806
          |             
          a(href='#') &#x9996;&#x9875;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x52A8;&#x753B;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x756A;&#x5267;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x97F3;&#x4E50;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x821E;&#x8E48;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x751F;&#x6D3B;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x6E38;&#x620F;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x79D1;&#x6280;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x9B3C;&#x755C;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x5F71;&#x89C6;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x7535;&#x5F71;
        |         
        li
          .number
            span  806
          |             
          a(href='#') &#x65F6;&#x5C1A;
      |     
      .zhibo.fr
        .guanggao.fl
          b
          a(href='#') &#x5E7F;&#x573A;
        |         
        .zb.fl
          b
          a(href='#') &#x76F4;&#x64AD;
        |         
        .cat.fl
          img(src='img/6e3b27a7b43584266b0b1c3b6e4ff19a.gif', height='44', width='76', alt='')
        |         
        .phone_zb.fl
          img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r4_c6.png', height='35', width='60', alt='')
    // 顶部 e
    // 主页内容  b
    .index_content.box
      .content_top.clearfix
        #picbox.top_banner.fl
          ul.fl
            li
              a(href='#')
                img(src='img/841a1d3896296ce6d2f95fb9b988605b647c5667.jpg', height='220', width='440', alt='')
            |                 
            li
              a(href='#')
                img(src='img/8cc8432e3b912748afbdb58596979876a7ee2c7e.jpg', height='220', width='440', alt='')
            |                 
            li
              a(href='#')
                img(src='img/ca766fd8d09a141ac068e824c9e7610d8e42543b.jpg', height='220', width='440', alt='')
            |                 
            li
              a(href='#')
                img(src='img/ea695a9aed0d3798cc57d5b93a94bf5d30cdf6db.jpg', height='220', width='440', alt='')
          |             
          .yuan_box
            // <a href="JavaScript://" class="yuan"></a>
            // <a href="JavaScript://" class="yuan"></a>
            // <a href="JavaScript://" class="yuan"></a>
            // <a href="JavaScript://" class="yuan"></a>
        |         
        .fl.top_remeng
          ul
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
            |                 
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
            |                 
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
            |                 
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
            |                 
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
            |                 
            li
              a(href='#')
                .v_item
                  img(src='img/7520722d8e22df45750dc0ab394d7b88f3f03b9d.jpg', alt='')
                  |                         
                  .jieshao
                    p.title &nbsp;&#x4F60;&#x53EF;&#x542C;&#x8FC7;&#x5982;&#x6B64;&#x52A8;&#x4EBA;&#x7684;&#x672A;&#x95FB;&#x82B1;&#x540D;
                    |                             
                    p
                    |                             
                    p
      |     
      .content_tuiguang.clearfix
        .tuiguang_left
          .top
            h3
              b
              | &#x63A8;&#x5E7F;
            |                 
            p
              a(href='#')
                | &#x5E05;&#x8D62;&#x5742;&#x672C;&#x884C;&#x52A8;&#x4F01;&#x5212;ing(&ge;&omega;&le;)
              |  | 
              a(href='#') &#x613F;&#x8BF8;&#x541B;&#x68A6;&#x60F3;&#x6210;&#x771F;
          |             
          .item
            ul
              li
                a(href='#')
                  img(src='img/55d2faa8a2d509df5eac8e6ac2ef090141f7d027.jpg', height='100', width='160', alt='')
                a(href='#') &#x3010;Kirara&#x624B;&#x7ED8;&#x6C34;&#x5F69;&#x8FC7;&#x7A0B;&#x3011;&#x753B;&#x4E2A;&#x548C;&#x98CE;&#x59B9;&#x5B50;
              |                     
              li
                a(href='#')
                  img(src='img/55d2faa8a2d509df5eac8e6ac2ef090141f7d027.jpg', height='100', width='160', alt='')
                a(href='#') &#x3010;Kirara&#x624B;&#x7ED8;&#x6C34;&#x5F69;&#x8FC7;&#x7A0B;&#x3011;&#x753B;&#x4E2A;&#x548C;&#x98CE;&#x59B9;&#x5B50;
              |                     
              li
                a(href='#')
                  img(src='img/55d2faa8a2d509df5eac8e6ac2ef090141f7d027.jpg', height='100', width='160', alt='')
                a(href='#') &#x3010;Kirara&#x624B;&#x7ED8;&#x6C34;&#x5F69;&#x8FC7;&#x7A0B;&#x3011;&#x753B;&#x4E2A;&#x548C;&#x98CE;&#x59B9;&#x5B50;
              |                     
              li
                a(href='#')
                  img(src='img/55d2faa8a2d509df5eac8e6ac2ef090141f7d027.jpg', height='100', width='160', alt='')
                a(href='#') &#x3010;Kirara&#x624B;&#x7ED8;&#x6C34;&#x5F69;&#x8FC7;&#x7A0B;&#x3011;&#x753B;&#x4E2A;&#x548C;&#x98CE;&#x59B9;&#x5B50;
        |         
        .tuiguang_right.fr
          .renshu &#x5728;&#x7EBF;&#x4EBA;&#x6570;&nbsp;999999&nbsp;| &nbsp;&#x6700;&#x65B0;&#x6295;&#x7A3F;&nbsp;56988
          |             
          .huodong
            a(href='#')
              img(src='img/7300aff803c1e760d3dd34d8360460edf2604abc.jpg', height='150', width='260', alt='')
      |     
      .doukou
        a(href='#')
          img(src='img/28e20bf83246a297d601b6ed0380e55ad6fc839c.png', height='96', width='980', alt='')
      |     
      .content_zhibo
        .zhibo_left.fl
          .top
            .fl
              h3
                b
                | &nbsp;
                a(href='#') &#x6B63;&#x5728;&#x76F4;&#x64AD;
              |                     
              p &#x5F53;&#x524D;&#x5171;&#x6709;42358&#x540D;&#x4E3B;&#x64AD;&#x6B63;&#x5728;&#x76F4;&#x64AD;
            |                 
            .fr
              .shuaxin.fl
                a(href='#')
                  b
                  | &nbsp;
                  span 3660
                  | &#x6761;&#x65B0;&#x52A8;&#x6001;
              |                     
              .gengduo.fl
                a(href='#') &#x66F4;&#x591A;&gt;
          |             
          .zhibo_item
            img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r8_c2.png', height='317', width='700', alt='')
        |         
        .zhibo_right.fl
          .top
            ul
              li
                a(href='#') &#x76F4;&#x64AD;&#x6392;&#x884C;
              |                     
              li
                a(href='#') &#x5173;&#x6CE8;&#x7684;&#x4E3B;&#x64AD;
              |                     
              li.act
                a(href='#') &#x4E3A;&#x4F60;&#x63A8;&#x8350;
          |             
          .bottom
            img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r8_c5.png', height='255', width='260', alt='')
            |                 
            p &#x4E03;&#x6708;&#x6E05;&#x51C9;&#x4E00;&#x590F;&#xFF5E;
      |     
      .donghua.clearfix
        .donghua_left.fl
          .top.clearfix
            .fl
              h3
                b
                | &nbsp;
                a(href='#') &#x6B63;&#x5728;&#x76F4;&#x64AD;
              |                     
              ul.fl
                li.act
                  a(href='#') &#x6709;&#x65B0;&#x52A8;&#x6001;
                |                         
                li
                  a(href='#') &#x6700;&#x65B0;&#x6295;&#x7A3F;
              |                     
              p.fl
                a(href='#')
                  b
                  | &nbsp;&#x3010;&#x79D1;&#x666E;&#x3011;&#x4F60;&#x77E5;&#x9053;&#x4EC0;&#x4E48;&#x53EB;EMP&#x5417;?
            |                 
            .fr
              .shuaxin.fl
                a(href='#')
                  b
                  | &nbsp;
                  span 3660
                  | &#x6761;&#x65B0;&#x52A8;&#x6001;
              |                     
              .gengduo.fl
                a(href='#') &#x66F4;&#x591A;&gt;
          |             
          .donghua_item.clearfix
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
        |         
        .donghua_right.fl
          .cc_top
            h3.fl &#x6392;&#x884C;
            |                 
            ul.yuanchuan
              li
                a(href='#') &#x5168;&#x90E8;
              |                     
              li
                a(href='#') &#x539F;&#x521B;
            |                 
            .fr
              ul
                li
                  a(href='#')
                    | &#x4E09;&#x5929; 
                    b
                |                         
                li
                  a(href='javaScript://') &#x4E00;&#x5468; 
          |             
          .cc_bottom
            ul
              li
                b 1
                a(href='#')
                  img.fl(src='img/e6aa838323c3718ed4dc375dc39055b29a102c64.jpg', height='50', width='80', alt='')
                  | &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
                |                         
                p &#x7EFC;&#x5408;&#x8BC4;&#x5206;&#xFF1A;156.0&#x4E07;
              |                     
              li
                b 2
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 3
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 4
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 5
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 6
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 7
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
            |                 
            .ckgd
              a(href='#') &#x67E5;&#x770B;&#x66F4;&#x591A;&gt;
      |     
      .donghua.clearfix
        .donghua_left.fl
          .top.clearfix
            .fl
              h3
                b
                | &nbsp;
                a(href='#') &#x6B63;&#x5728;&#x76F4;&#x64AD;
              |                     
              ul.fl
                li.act
                  a(href='#') &#x6709;&#x65B0;&#x52A8;&#x6001;
                |                         
                li
                  a(href='#') &#x6700;&#x65B0;&#x6295;&#x7A3F;
              |                     
              p.fl
                a(href='#')
                  b
                  | &nbsp;&#x3010;&#x79D1;&#x666E;&#x3011;&#x4F60;&#x77E5;&#x9053;&#x4EC0;&#x4E48;&#x53EB;EMP&#x5417;?
            |                 
            .fr
              .shuaxin.fl
                a(href='#')
                  b
                  | &nbsp;
                  span 3660
                  | &#x6761;&#x65B0;&#x52A8;&#x6001;
              |                     
              .gengduo.fl
                a(href='#') &#x66F4;&#x591A;&gt;
          |             
          .donghua_item.clearfix
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
            |                 
            .item.fl
              a(href='#')
                img(src='img/32c5d7a9a687f921ed96d4ce232e9ff70c6805ad.jpg', height='100', width='160', alt='')
                |                         
                p &#x76D8;&#x70B9;B&#x7AD9;&#x6700;&#x53D7;&#x6B22;&#x8FCE;&#x7684;&#x52A8;&#x753B;&#x58F0;&#x4F18;
                |                         
                p.clearfix
                  span.bofang.fl
                    b
                    | &nbsp;23.0&#x4E07;
                  span.danmu.fr
                    b
                    | &nbsp;8.0&#x4E07;
        |         
        .donghua_right.fl
          .cc_top
            h3.fl &#x6392;&#x884C;
            |                 
            ul.yuanchuan
              li
                a(href='#') &#x5168;&#x90E8;
              |                     
              li
                a(href='#') &#x539F;&#x521B;
            |                 
            .fr
              ul
                li
                  a(href='#')
                    | &#x4E09;&#x5929; 
                    b
                |                         
                li
                  a(href='#')
                    | &#x4E00;&#x5468; 
                    b
          |             
          .cc_bottom
            ul
              li
                b 1
                a(href='#')
                  img.fl(src='img/e6aa838323c3718ed4dc375dc39055b29a102c64.jpg', height='50', width='80', alt='')
                  | &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
                |                         
                p &#x7EFC;&#x5408;&#x8BC4;&#x5206;&#xFF1A;156.0&#x4E07;
              |                     
              li
                b 2
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 3
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 4
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 5
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 6
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
              |                     
              li
                b 7
                a(href='#') &#x3010;&#x4E03;&#x6708;&#x3011;&#x9F50;&#x6728;&#x5357;&#x96C4;&#x7684;&#x707E;&#x96BE;&#xFF08;&#x65E5;&#x64AD;&#x7248;&#xFF09;16
            |                 
            .ckgd
              a(href='#') &#x67E5;&#x770B;&#x66F4;&#x591A;&gt;
      |     
      .xinfan
        .xinfan_l.fl
          .xinfan_l_t
            ul.week.clearfix.fl
              li.act
                a(href='#')
                  b
                  | &#x6700;&#x65B0;
              |                     
              li
                a(href='#')
                  b
                  | &#x4E00;
              |                     
              li
                a(href='#')
                  b
                  | &#x4E8C;
              |                     
              li
                a(href='#')
                  b
                  | &#x4E09;
              |                     
              li
                a(href='#')
                  b
                  | &#x56DB;
              |                     
              li
                a(href='#')
                  b
                  | &#x4E94;
              |                     
              li
                a(href='#')
                  b
                  | &#x516D;
              |                     
              li
                a(href='#')
                  b
                  | &#x65E5;
            |                 
            .fangsong.fr
              a(href='#') &#x65B0;&#x756A;&#x653E;&#x9001;&#x8868; &gt;
          |             
          .xinfan_l_b
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                         
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                             
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
            |                 
            .xinfan_item.fl
              .fl
                img(src='img/_r2_c2.png', alt='')
              |                     
              .fl.title
                p
                  a(href='') &#x8D85;&#x65F6;&#x7A7A;&#x8981;&#x585E;&xutri;
                |                         
                p.jsshu
                  | &#x66F4;&#x65B0;&#x81F3; 
                  span 4&#x8BDD;
        |         
        .xinfan_r.fr
          .weilian
            img(src='img/oYYBAFeVfwyAOhU8AACcmUTfzqc200.jpg', alt='')
          |             
          .xinfan_r_b
            .tuijian_item.fl
              a(href='')
                img(src='img/r2_c3.png', alt='')
              |                     
              p &#x7F57;&#x5BC6;&#x6B27;&#x4E0E;&#x6731;&#x4E3D;&#x53F6;
            |                 
            .tuijian_item.fl
              a(href='')
                img(src='img/r2_c3.png', alt='')
              |                     
              p &#x7F57;&#x5BC6;&#x6B27;&#x4E0E;&#x6731;&#x4E3D;&#x53F6;
            |                 
            .tuijian_item.fl
              a(href='')
                img(src='img/r2_c3.png', alt='')
              |                     
              p &#x7F57;&#x5BC6;&#x6B27;&#x4E0E;&#x6731;&#x4E3D;&#x53F6;
            |                 
            .tuijian_item.last.fl
              a(href='')
                img(src='img/r2_c3.png', alt='')
              |                     
              p &#x7F57;&#x5BC6;&#x6B27;&#x4E0E;&#x6731;&#x4E3D;&#x53F6;
      |     
      .donghua.clearfix.special
        .donghua_left.fl
          .top.clearfix
            .fl
              h3
                b
                | &nbsp;
                a(href='#') &#x7279;&#x522B;&#x63A8;&#x8350;
          |             
          .special_l_b.clearfix
            .special_item.fl
              a(href='#')
                img(src='img/a94e86025cf33aceae3c1e62525a7aea49cee073.jpg', alt='')
                |                         
                p
                  b
                  span &#x6DF1;&#x6D77;&#x7684;&#x6D77;&#x6D77;&#x6D77;
                  i &#x63A8;&#x8350;
            |                 
            .special_item.fl
              a(href='#')
                img(src='img/a94e86025cf33aceae3c1e62525a7aea49cee073.jpg', alt='')
                |                         
                p
                  b
                  span &#x6DF1;&#x6D77;&#x7684;&#x6D77;&#x6D77;&#x6D77;
                  i &#x63A8;&#x8350;
            |                 
            .special_item.fl
              a(href='#')
                img(src='img/a94e86025cf33aceae3c1e62525a7aea49cee073.jpg', alt='')
                |                         
                p
                  b
                  span &#x6DF1;&#x6D77;&#x7684;&#x6D77;&#x6D77;&#x6D77;
                  i &#x63A8;&#x8350;
            |                 
            .special_item.fl
              a(href='#')
                img(src='img/a94e86025cf33aceae3c1e62525a7aea49cee073.jpg', alt='')
                |                         
                p
                  b
                  span &#x6DF1;&#x6D77;&#x7684;&#x6D77;&#x6D77;&#x6D77;
                  i &#x63A8;&#x8350;
        |         
        .special_r.fr
          a(href='#')
            img(src='img/oYYBAFaFDgyAZyE2AABHpHzMnHs000.jpg', alt='')
    .foot.clearfix
      .box
        .foot_top
          ul.clearfix
            li.li1
              .tips Bilibili
              |                     
              .cards
                a(href='#') &#x5173;&#x4E8E;&#x6211;&#x4EEC;
              |                     
              .cards
                a(href='#') &#x53CB;&#x60C5;&#x94FE;&#x63A5;
              |                     
              a.aimg(href='#')
                img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r4_c3.png', alt='')
              |                     
              .cards
                a(href='#') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
              |                     
              .cards
                a(href='#') &#x52A0;&#x5165;&#x6211;&#x4EEC;
            |                 
            li.li2
              .tips &#x5E2E;&#x52A9;
              |                     
              .cards
                a(href='#') &#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;
              |                     
              .cards
                a(href='#') &#x8865;&#x6863;&#x8BA4;&#x9886;&#x5904;
              |                     
              .cards
                a(href='#') &#x4FB5;&#x6743;&#x7533;&#x8FF0;
              |                     
              .cards.longs
                a(href='#') &#x5EFA;&#x8BAE;/BUG&#x6C47;&#x62A5;
            |                 
            li.li2
              .tips &#x4F20;&#x9001;&#x95E8;
              |                     
              .cards
                a(href='#') &#x9AD8;&#x7EA7;&#x5F39;&#x5E55;
              |                     
              .cards
                a(href='#') &#x540D;&#x4EBA;&#x5802;
              |                     
              .cards
                a(href='#') &#x6D3B;&#x52A8;&#x4E13;&#x9898;&#x9875;
              |                     
              .cards
                a(href='#') &#x8D44;&#x8BAF;
              |                     
              .cards
                a(href='#') &#x58C1;&#x7EB8;
              |                     
              .cards
                a(href='#') &#x5206;&#x9662;&#x5E3D;&#x8BA1;&#x5212;
              |                     
              .cards
                a(href='#') &#x6D3B;&#x52A8;&#x4E2D;&#x5FC3;
        |         
        .foot_b
          .foot_b_l
            .block.fl
              a(href='#')
                img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r4_c8.png', alt='')
            |                 
            .block.fl
              p &#x5E7F;&#x64AD;&#x7535;&#x89C6;&#x8282;&#x76EE;&#x5236;&#x4F5C;&#x7ECF;&#x8425;&#x8BB8;&#x53EF;&#x8BC1;&#xFF1A;&#xFF08;&#x6CAA;&#xFF09;&#x5B57;&#x7B2C;1248&#x53F7;
              |                     
              p &#x7F51;&#x7EDC;&#x6587;&#x5316;&#x7ECF;&#x8425;&#x8BB8;&#x53EF;&#x8BC1;&#xFF1A;&#x6CAA;&#x7F51;&#x6587;[2013]0480-056&#x53F7;
              |                     
              p &#x4FE1;&#x606F;&#x7F51;&#x7EDC;&#x4F20;&#x64AD;&#x89C6;&#x542C;&#x8282;&#x76EE;&#x8BB8;&#x53EF;&#x8BC1;&#xFF1A;0910417
              |                     
              p
                a(href='#') &#x4E0A;&#x6D77;&#x4E92;&#x8054;&#x7F51;&#x4E3E;&#x62A5;&#x4E2D;&#x5FC3;
            |                 
            .block.fl
              p &#x4E92;&#x8054;&#x7F51;ICP&#x5907;&#x6848;&#xFF1A;&#x6CAA;ICP&#x5907;13002172&#x53F7;-3
              |                     
              p &#x6CAA;ICP&#x8BC1;&#xFF1A;&#x6CAA;B2-20100043
              |                     
              p &#x8FDD;&#x6CD5;&#x4E0D;&#x826F;&#x4FE1;&#x606F;&#x4E3E;&#x62A5;&#x90AE;&#x7BB1;&#xFF1A;help@bilibili.com
              |                     
              p &#x8FDD;&#x6CD5;&#x4E0D;&#x826F;&#x4FE1;&#x606F;&#x4E3E;&#x62A5;&#x7535;&#x8BDD;&#xFF1A;4000233233 &#x8F6C; 3
          |             
          .foot_b_r.fr
            .icon.fl
              a(href='#')
                img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r5_c6.png', alt='')
                |                         &#x624B;&#x673A;&#x7AEF;&#x4E0B;&#x8F7D;
            |                 
            .icon.fl
              a(href='#')
                img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r5_c5.png', alt='')
                |                         &#x65B0;&#x6D6A;&#x5FAE;&#x535A;
            |                 
            .icon.fl
              a(href='#')
                img(src='img/火狐截图_2016-07-25T15-37-07.877Z_r5_c7.png', alt='')
                |                         &#x5B98;&#x65B9;&#x5FAE;&#x4FE1;
