doctype html
html
   head
      meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui")
      title=title
      link(rel='stylesheet', href='/stylesheets/m.login.css')
      link(rel='stylesheet', href='/stylesheets/m.reg.css')
      script(src="/javascripts/zepto.min.js")
      script(src="/javascripts/touch.js")
   body
   block mlogin
