//
   Created by pl on 2016/10/8.
doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      title 一个简单的原创画画交流网站
      link(rel='stylesheet', href='/stylesheets/common.css')
      script(src="/javascripts/jquery.js")
      link(rel="styleSheet",href="/stylesheets/liulan.css")
   body
      .borwse-body
         .borwseMode-nav
            .borwseMode-siderBtn
               .borwseMode-siderBtn-icon
            .borwseMode-siderBtn-back
               .borwseMode-siderBtn-back-icon
            .borwseSiderMini
               a(href="#")
               a(href="/tougao")
                  .icon
               a(href="#" title="最近投稿")
                  .icon
               a(href="#" title="为你推荐")
                  .icon
            .borseSiderBig
               .box
                  .person.clearfix
                     .touxiang
                        a(href="#")
                     .username 弹簧字
                     .tougao
                        a(href="/tougao")
                           span
                           | 投稿
                  .u_nav.clearfix
                     .sapce-bock
                        a(href="#") 关注
                           span 0
                     .space-line
                     .sapce-bock
                        a(href="#") 关注
                           span 0
                     .space-line
                     .sapce-bock
                        a(href="#") 作品
                           span 0
                     .space-line
                     .sapce-bock
                        a(href="#") 收藏
                           span 0
               .borwseMode-choose
                  .borwseMode-change-new.borwseMode-change-act
                     a(href="#")
                        span
                        | 最近投稿
                  .borwseMode-change-recommend
                     a(href="#")
                        span
                        | 为你推荐
         .pubuliu
      script(src="/javascripts/jquery_waterFall.js")
      script(src="/javascripts/liulan.js")