//
   Created by pl on 2016/9/28.
extends user
block post
   form
      input(type="text" name="title" placeholder="请输入标题" class="title")
      textarea(name="content" class="post_content")
      input(type="submit" class="submit")
