body,html,div,p,span,a,img,ul,li {
	padding: 0;
	margin: 0;
	font-family: 'Microsoft YaHei';
}

.comment-wrap {
	width: 92%;
	padding: 0 4%;
}

.comment-wrap ul,
.comment-wrap li {
	list-style: none;
}

.comment-wrap a {
	text-decoration: none;
	color: #222;
}

.comment-wrap .hidden {
	display: none;
}

.comment-wrap .comment-type {
	height: 56px;
	overflow: hidden;
	border-bottom: 1px solid #e5e9ef;
}

.comment-wrap .comment-type li {
	line-height: 56px;
	float: left;
	padding: 0 16px;
}

.comment-wrap .comment-type li.current {
	color: #00a1d6;
}

.comment-wrap .comment-input {
	margin: 24px 0 30px 0;
}

.comment-wrap .comment-input .tips-login {
	height: 52px;
  width: 100%;
	display: inline-block;
  text-align: center;
	line-height: 51px;
	padding: 5px 10px;
	background: #e5e9ef;
	border: 1px solid #e5e9ef;
	border-radius: 4px;
	color: #777;
	/*text-align: center;*/
}

.comment-wrap .comment-input .btn-login {
	color: #fff;
  margin: 0 3px;
  padding: 4px 9px;
  background: #00a1d6;
  outline: 0;
  border-radius: 4px;
}

.comment-wrap .comment-input .btn-comment {
	width: 64px;
	height: 64px;
	text-align: center;
	float: right;
	background: #00a1d6;
	border: none;
	border-radius: 4px;
	color: #fff;
}

.comment-wrap .comment-input .btn-comment.disabled {
	background: #e5e9ef;
	color: #b8c0cc;
}

.comment-wrap .comment-list {
	width: 100%;
	height: auto;
	color: #222;
}

.comment-wrap .comment-list .img-loading {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.comment-wrap .comment-list .item {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-left: 86px;
	box-sizing: border-box;
}

.comment-wrap .comment-list .child-item {
	padding-left: 32px;
}

.comment-wrap .item .photo {
	position: absolute;
	width: 66px;
	min-height: 86px;
	left: 0;
	top: 0;
}

.comment-wrap .child-item .photo {
	width: 32px;
	min-height: 32px;
	padding-top: 10px;
}

.comment-wrap .item .photo a {
	display: block;
	width: 50px;
	height: 50px;
	padding: 18px 6px;
}

.comment-wrap .child-item .photo a {
	width: 24px;
	height: 24px;
	padding: 4px;
}

.comment-wrap .item .lv {
	padding: 22px 0 0 36px;
	font-size: 0;
	overflow: hidden;
	background: url('http://static.hdslb.com/images/v3images/Level-icons.png') no-repeat;
}

.comment-wrap .item .lv_0 {
	background-position: -71px -0px;
}

.comment-wrap .item .lv_1 {
	background-position: -71px -36px;
}

.comment-wrap .item .lv_2 {
	background-position: -71px -72px;
}

.comment-wrap .item .lv_3 {
	background-position: -71px -108px;
}

.comment-wrap .item .lv_4 {
	background-position: -71px -144px;
}

.comment-wrap .item .lv_5 {
	background-position: -71px -180px;
}

.comment-wrap .item .lv_6 {
	background-position: -71px -216px;
}

.comment-wrap .item .lv_7 {
	background-position: -71px -252px;
}

.comment-wrap .item .lv_8 {
	background-position: -71px -288px;
}

.comment-wrap .item .lv_8 {
	background-position: -71px -108px;
}

.comment-wrap .item .photo .face {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.comment-wrap .child-item .photo .face {
	width: 24px;
	height: 24px;
}

.comment-wrap .item .main {
	width: 100%;
	padding: 22px 0 14px 0;
	line-height: 2.0rem;
	border-top: 1px solid #e5e9ef;
}
.comment-wrap .item .main .content{
	max-width: 652px;
}
.comment-wrap .child-item .main {
	width: 100%;
	padding: 10px 0;
	border: none;
}

.comment-wrap .child-item .main .content{
	max-width: 620px;
}
.comment-wrap .item .uname {
	color: #6d757a;
  padding-bottom: 4px;
	font-weight: bold;
}

.comment-wrap .item .infor {
	color: #aaa;
}

.comment-wrap .item .infor p {
	display: inline-block;
}

.comment-wrap .item .infor .tools {
	display: block;
	text-align: right;
}

.comment-wrap .item .floor-num {
	padding-right: 10px;
}

.comment-wrap .item .praise {
	margin-right: 10px;
}

.comment-wrap .comment-input{
	padding:0 90px;
	position:relative;
}
.comment-wrap .comment-input .user-face{
  width:48px;
  height: 48px;
  position: absolute;
  left: 7px;
  top: 6px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #fff;

}
.comment-wrap .comment-input .user-face img{
	width: 100%;
	height: 100%;	
}
.comment-wrap .comment-input textarea {
	height: 58px;
	resize: none;
}
.comment-wrap .comment-input textarea{
	width:100%;
}
.comment-wrap .comment-input button{
	position:absolute;
	right: 0;
	top: 0;
}
.comment-wrap .comment-flip{
	padding: 10px 0 ;
}
.comment-wrap .comment-flip a{
	padding:0 10px;
	min-width: 15px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	background-color:#fff;
	border:1px solid #ddd;
}
.comment-wrap .comment-flip a.on{
	background-color: #00a1d6;
	color: #ffffff;
}
.comment-wrap .comment-flip>span{
	padding:3px;
	text-align: center;
}
.comment-wrap .comment-flip .assign-page-number{
	float:right;
	display: inline-block;
}
.comment-wrap .comment-flip .assign-page-number span{
	padding:0 2px;
	font-size: 12px;
	color:#99a2aa;
}
.comment-wrap .comment-flip .assign-page-number input{
	width:30px;
	height: 24px;
	line-height: 24px;
	font-size:12px;
	text-align: center;
	margin:7px 2px 0 5px;
	color: #99a2aa;
	border:#99a2aa 1px solid;
	border-radius: 4px;
}
.comment-wrap .comment-flip .assign-page-number input:hover{
	border:#00a1d6 1px solid;
}


/*定制*/

.comment-wrap {
	width: 100%;
	padding: 0;
}


.comment-wrap .captcha-holder{
	text-align: right;
}
.comment-wrap .captcha-holder input{
  border-radius: 4px;
  background-color: #fff;
  color: #45484b;
  margin-top: 0;
  width: 47px;
  margin-bottom: 0;
  margin-right: 10px;
  padding-left: 4px;
  padding-right: 2px;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #ccd0d7;
  transition: .2s border;
  -webkit-transition: .2s border;
}
.comment-wrap .captcha-holder input:hover{
  border: 1px solid #00a1d6;
}

.comment-wrap .comment-type .type-list{
	width:30%;
	display: inline-block;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
}

.comment-wrap .item .praise,
.comment-wrap .item .reply
{
	cursor: pointer;
  transition: .5s border;
  -webkit-transition: .5s border;
}
.comment-wrap .item .praise:hover,
.comment-wrap .item .reply:hover
{
	color:#00a1d6;
}